@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "lalezar";
  src: url("./assets/fonts/Lalezar.ttf");
}
@font-face {
  font-family: "Yekan";
  src: url("./assets/fonts/Yekan.ttf");
}
* {
  font-family: "Yekan", sans-serif;
}

.lalezar {
  font-family: "Lalezar";
}

